/*** CSS Tutorial: Color page ***/

/* page font */
body {
    font: 16px "Comic Sans MS", cursive;
    /*background image*/
    background: url("public/Blue-rule.png");
}

/* paragraphs */
p {
    color: #00f;
}
/*add yellow pin before all p's'*/
p:before {
    content: url("public/Yellow-pin.png");
}

#first {
    font-style: italic;
}

/* initial letters */
strong {
    background-color: #ddf;
    color: #f00;
    font: 200% serif;
}

.spinach {
    color: #080;
    background-color: #ddf;
}